/*    DEMO STYLE */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    /* width: 100%;
    align-items: stretch;
    perspective: 1500px; */
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #5950c3;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #5950c3;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #dddddd;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #141415;
    background: #ffffff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #141415;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #141415;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7c7c7d;
}

a.article, a.article:hover {
    background: #7c7c7d !important;
    color: #fff !important;
}
.toast{
    max-width: 350px;
    overflow: hidden;
    font-size: .875rem;
    background-color: rgba(255,255,255,.85);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    border-radius: .25rem;
}
.toast-header{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .25rem .75rem;
    color: #6c757d;
    background-color: rgba(255,255,255,.85);
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.toast.show {
    display: block;
    opacity: 1;
}
.toast-body {
    padding: .75rem;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f8f9fa;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}
#Timerdemo{background-color: #c6c2fd;}
p.timer {
    text-align: center;
    font-size:3.5rem;
    text-transform: uppercase;
    color: #141415;
}
*, *::after, *::before {
    box-sizing: border-box;
  }
  
  progress {
    /* Positioning */
    position: fixed;
    left: 0;
    top: 0;
  
    /* Dimensions */
    width: 100%;
    height: .25em;
  
    /* Reset the apperance */  
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  
    /* Get rid of the default border in Firefox/Opera. */
    border: none;
  
    /* For Firefox/IE10+ */
    background-color: transparent;
  
    /* For IE10+, color of the progress bar */
    color: red;
  }
  
  progress::-webkit-progress-bar {
    background-color: transparent;
  }
  
  .flat::-webkit-progress-value {
    background-color: red;
  }
  
  .flat::-moz-progress-bar {
    background-color: red;
  }
  
  .single::-webkit-progress-value {
    background-color: transparent;
    background-image: -webkit-linear-gradient(left, transparent, red);
  }
  
  .single::-moz-progress-bar {
    background-color: transparent;
    background-image: -moz-linear-gradient(left, transparent, red);
  }
  
  .multiple::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
                        -webkit-linear-gradient(left, green, red);
  }
  
  .multiple::-moz-progress-bar {
    background-image: -moz-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
                        -moz-linear-gradient(left, green, red);
  }
  
  .progress-container {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    height: .25em;
    display: block;
  }
  
  .progress-bar {
    background-color: red;
    width: 50%;
    display: block;
    height: inherit;
  }
  .timeline {
    position: relative;
    width: 860px;
    margin: 0px auto;
    padding: 20px;
    list-style-type: none;
  }
  @media (max-width: 860px) {
    .timeline {
      width: 100%;
      padding: 4em 0 1em 0;
    }
  }
  .timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: #505050;
    z-index: 5;
  }
  .timeline li {
    padding: 1em 0;
  }
  @media (max-width: 860px) {
    .timeline li {
      padding: 2em 0;
    }
  }
  .timeline li::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .direction-l {
    position: relative;
    width: 400px;
    float: left;
    text-align: right;
  }
  @media (max-width: 860px) {
    .direction-l {
      float: none;
      width: 100%;
      text-align: center;
    }
  }
  .direction-l .flag {
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
  }
  .direction-l .flag:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: #f8f8f8;
    border-width: 8px;
    pointer-events: none;
  }
  @media (max-width: 860px) {
    .direction-l .flag:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -8px;
      height: 0;
      width: 0;
      margin-left: -8px;
      border: solid transparent;
      border-bottom-color: white;
      border-width: 8px;
      pointer-events: none;
    }
  }
  .direction-l .time-wrapper {
    float: left;
  }
  @media (max-width: 860px) {
    .direction-l .time-wrapper {
      float: none;
    }
  }
  
  .direction-r {
    position: relative;
    width: 400px;
    float: right;
  }
  @media (max-width: 860px) {
    .direction-r {
      float: none;
      width: 100%;
      text-align: center;
    }
  }
  .direction-r .flag {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  }
  .direction-r .flag:after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    height: 0;
    width: 0;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: #f8f8f8;
    border-width: 8px;
    pointer-events: none;
  }
  @media (max-width: 860px) {
    .direction-r .flag:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -8px;
      height: 0;
      width: 0;
      margin-left: -8px;
      border: solid transparent;
      border-bottom-color: white;
      border-width: 8px;
      pointer-events: none;
    }
  }
  .direction-r .flag:before {
    left: -40px;
  }
  .direction-r .time-wrapper {
    float: right;
  }
  @media (max-width: 860px) {
    .direction-r .time-wrapper {
      float: none;
    }
  }
  
  .flag-wrapper {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  @media (max-width: 860px) {
    .flag-wrapper {
      text-align: center;
    }
  }
  .flag-wrapper .flag {
    position: relative;
    display: inline;
    background: #f8f8f8;
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: 600;
    text-align: left;
  }
  @media (max-width: 860px) {
    .flag-wrapper .flag {
      background: white;
      z-index: 15;
    }
  }
  
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: 50%;
    right: -40px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid #58B96B;
    z-index: 10;
  }
  @media (max-width: 860px) {
    .direction-l .flag:before,
    .direction-r .flag:before {
      position: absolute;
      top: -30px;
      left: 50%;
      content: ' ';
      display: block;
      margin-left: -10px;
    }
  }
  
  .time-wrapper {
    display: inline;
    line-height: 1em;
    font-size: 0.66666em;
    color: #58B96B;
    vertical-align: middle;
  }
  @media (max-width: 860px) {
    .time-wrapper {
      display: block;
      position: relative;
      margin: 4px 0 0 0;
      z-index: 14;
    }
  }
  .time-wrapper .time {
    display: inline-block;
    padding: 4px 6px;
    background: #f8f8f8;
  }
  
  .desc {
    margin: 1em 0.75em 0 0;
    font-size: 0.9em;
    font-style: italic;
    line-height: 1.5em;
  }
  .desc a {
    color: #58B96B;
    text-decoration: none;
  }
  .desc a:hover {
    text-decoration: underline;
  }
  @media (max-width: 860px) {
    .desc {
      position: relative;
      margin: 1em 1em 0 1em;
      padding: 1em;
      background: whitesmoke;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
      z-index: 15;
    }
  }